<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>The Server Encountered an Error</title>
  <style>
  </head>
<body>
  <details>
  <summary><h1>The Server Encountered and Error</h1></summary>
  <p><span frown>:(</span></p>
  <div>
    <%= error %>
  </div>
</details>
</body>
</html>